/* ******************************************/
/* ************* Estilos Content *************/
/* ******************************************/
section.container .content{
     padding: 20px;
}

section.container .content .products{
     display: grid;
     grid-template-columns: 1fr 1fr 1fr;
     grid-template-rows: auto;
     grid-gap: 10px;
}
section.container .content .products .item{
     /* background: #0b8ca3; */
     width: 100%;
     height: auto;
     padding: 6px;
     border-radius: 10px;
     -webkit-box-shadow: 10px 10px 14px -15px rgba(0,0,0,0.25);
     -moz-box-shadow: 10px 10px 14px -15px rgba(0,0,0,0.25);
     box-shadow: 10px 10px 14px -15px rgba(0,0,0,0.25);
     border: solid 1px #d9d9d9;
     display: grid;
     justify-content: center;
     justify-items: center;
     grid-row-gap: 8px;
}

section.container .content .products .item .inputquant{
     width: 50px;
     padding: 5px;
     font-size: 15px;
     font-weight: bold;
     text-align: center;
}

section.container .content .products .item .title{
     color: black;
     background-color: #c2deff;
}

section.container .content .products .item input[type=button]{
     width: 30px;
     margin: 0 5px;
     background-color: #6281a5;
}