/* ******************************************/
/* ************* Estilos Footer *************/
/* ******************************************/
section.container .footer{
     padding: 15px 20px;
     background: #cef4ff;
     border-radius: 0 0 15px 15px;
     display: flex;
     justify-content: space-between;
     align-items: center;
   }
   